<h5>Overdue (<span id="count-overdue"><%= overdue.length %></span>)</h5>
<table>
  <thead>
    <tr><th>ID</th><th>Title</th><th>Due Date</th><th>Completed</th></tr>
  </thead>
  <tbody>
    <% overdue.forEach(todo => { %>
      <tr class="<%= todo.completed ? 'completed' : '' %>">
        <td><%= todo.id %></td>
        <td><%= todo.title %></td>
        <td><%= todo.dueDate.toISOString().slice(0, 10) %></td>
        <td><%= todo.completed ? 'Yes' : 'No' %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<h5>Due Today (<span id="count-due-today"><%= dueToday.length %></span>)</h5>
<table>
  <thead>
    <tr><th>ID</th><th>Title</th><th>Due Date</th><th>Completed</th></tr>
  </thead>
  <tbody>
    <% dueToday.forEach(todo => { %>
      <tr class="<%= todo.completed ? 'completed' : '' %>">
        <td><%= todo.id %></td>
        <td><%= todo.title %></td>
        <td><%= todo.dueDate.toISOString().slice(0, 10) %></td>
        <td><%= todo.completed ? 'Yes' : 'No' %></td>
      </tr>
    <% }) %>
  </tbody>
</table>

<h5>Due Later (<span id="count-due-later"><%= dueLater.length %></span>)</h5>
<table>
  <thead>
    <tr><th>ID</th><th>Title</th><th>Due Date</th><th>Completed</th></tr>
  </thead>
  <tbody>
    <% dueLater.forEach(todo => { %>
      <tr class="<%= todo.completed ? 'completed' : '' %>">
        <td><%= todo.id %></td>
        <td><%= todo.title %></td>
        <td><%= todo.dueDate.toISOString().slice(0, 10) %></td>
        <td><%= todo.completed ? 'Yes' : 'No' %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
